*, *::before, *::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    display: flex;
    flex-flow: column;
}

.field{
    height: 50px;
    width: 50px;
    margin: 2px;
    background-color: black;
}